  <% if @stage.errors.present? %>
    <% @stage.errors.full_messages.each do |error| %>
      <ul>
        <li><%= error %></li>
      </ul>
    <% end %>
  <% end %>

  <% if flash[:notice] == " " %>
  <div data-alert class="alert-box warning round">
    please dispense exactly 30 points.
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>

<div class="row">
  <div class="large-12">
    <% if @system.meta_points == 30 %>
        <h2> innate stage initiated. viruses are attacking! </h2>
        <h1><%= "#{@system.meta_score}" %></h1><br>
        <%= form_for @stage, {
        url: system_stage_path(@system, @stage), action: "update"
      } do |f| %>
        <div data-dropdown="hover1", class="hovering1" data-options="is_hover:true; hover_timeout:5000"><%= f.label :cytokines, "cytokines" %><br>
        <ul id="hover1" class="f-dropdown" data-dropdown-content>
        <%= f.select :cytokines, options_for_select(0..30) %>
        </ul></div>
        <div data-dropdown="hover2" class= "hovering2" data-options="is_hover:true; hover_timeout:5000"><%= f.label :macromolecules, "macromolecules" %><br>
        <ul id="hover2" class="f-dropdown" data-dropdown-content>
        <%= f.select :macromolecules, options_for_select(@evens) %>
        </ul></div>
        <div data-dropdown="hover3" class= "hovering3" data-options="is_hover:true; hover_timeout:5000"><%= f.label :phagocytes, "phagocytes" %><br></div>
        <ul id="hover3" class="f-dropdown" data-dropdown-content>
        <%= f.select :phagocytes, options_for_select(0..30) %>
        </ul>
        </div>
        </div>
        <div class="sub_button"><%= f.button "submit points" %></div>
      <% end %>
    <% else %>
      <% @system.innate_turn %>
      <h1> meta points dispensed. <br> continue to adaptive stage? </h1>

      <%= form_for @stage, {
        url: system_stage_path(@system, @stage), action: "update"
      } do |f| %>
        <div="clicks"><%= f.hidden_field :name, :value => "adaptive" %>
        <%= f.hidden_field :meta_points, :value => 10 %>
        <%= f.submit "continue", class: "button" %></div="clicks">
      <% end %>
      <%= form_for @system, {
        url: system_path(@system), action: "update"
      } do |f| %>
        <div="clicks"><%= f.hidden_field :meta_points, :value => 30 %>
        <%= f.submit "reset", class: "button" %></div="clicks">
      <% end %>
    <% end %>
   </div>
  </div>

  <br><br>
  <table>
    <h6>**hover over each to read more**</h6>
    <tr>
      <th><span data-tooltip data-options="hover_delay: 50;" class="tip-top" title="CYTO::CONTROL:: try to avoid system compromise if virus number get out of hand">balance
      <% if @system.balance_points > 0 %>
        <%= ": #{@system.balance_points}" %>
      <% end %>
      </span></th>
      <th><span data-tooltip data-options="hover_delay: 50;" class="tip-top" title="MACRO ::COMBO:: memory is often crucial for successful vaccinations">memory
      <% if @system.memory > 0 %>
        <%= ": #{@system.memory}" %>
      <% end %>
      </span></th>
      <th><span data-tooltip data-options="hover_delay: 50;" class="tip-top" title="PHAGO ::AGGRO:: removes equal number of volatile cells">volatility
      <% if @stage.phagocytes != 0 %>
        <%= ": #{@stage.phagocytes} cells removed" %>
      <% end %>
      </span>
      </th>
    </tr>

    <tr>
      <td>moderates virus and cell numbers. more viruses than cells and the system becomes compromised.</td>
      <td>increases after attacks. multiplies inflammation attack damage. 10 points per multiplier</td>
      <td>cells have 50% to be volatile. volatile cells are at risk for viral subjugation</td>
    </tr>
  </table>

