  <% if @stage.errors.present? %>
    <% @stage.errors.full_messages.each do |error| %>
      <ul>
        <li><%= error %></li>
      </ul>
    <% end %>
  <% end %>
<div class="row">
  <div class="large-12">
    <% if @system.meta_points == 30 %>
        <h2> innate stage initiated. viruses are attacking! </h2>
        <h1><%= "#{@system.meta_score}" %></h1><br>
        <%= form_for @stage, {
        url: system_stage_path(@system, @stage), action: "update"
      } do |f| %>
        <%= f.label :cytokines, "cytokines" %><br>
        <%= f.select :cytokines, options_for_select(0..30) %>
        <%= f.label :macromolecules, "macromolecules" %><br>
        <%= f.select :macromolecules, options_for_select(0..30) %>
        <%= f.label :phagocytes, "phagocytes" %><br>
        <%= f.select :phagocytes, options_for_select(0..30) %>
        <%= f.button "submit points" %>
      <% end %>
    <% else %>
      <h1> meta points dispensed. <br> continue to adaptive stage? </h1>
      <ul>
        <li>cytokines: <%= @stage.cytokines %></li>
        <li>macromolecules: <%= @stage.macromolecules %></li>
        <li>phagocytes: <%= @stage.phagocytes %></li><br>

      <%= form_for @stage, {
        url: system_stage_path(@system, @stage), action: "update"
      } do |f| %>
        <div="clicks"><%= f.hidden_field :name, :value => "adaptive" %>
        <%= f.hidden_field :meta_points, :value => 10 %>
        <%= f.submit "continue", class: "button" %></div="clicks">
      <% end %>
      <%= form_for @system, {
        url: system_path(@system), action: "update"
      } do |f| %>
        <div="clicks"><%= f.hidden_field :meta_points, :value => 30 %>
        <%= f.submit "reset", class: "button" %></div="clicks">
      <% end %>
    <% end %>
   </div>
  </div>

  <br><br>

  <table>
    <tr>
      <th><div id="cytokines">balance points</div></th>
      <div id="cyto" style="display: none">CONTROL: gives balance points</div>
      <th><div id="macromolecules">memory</div></th>
      <div id="macro" style="display: none">COMBO: creates antibody cells<br>gives memory</div>
      <th><div id="phagocytes">volatility</div></th>
      <div id="phago" style="display: none">AGGRO: removes volatile cells
      <br> and equal number of viruses</div>
    </tr>

    <tr>
      <td>moderates virus and cell numbers. more viruses than cells and the system becomes compromised.</td>
      <td>necessary to win. normally raises after attacks. multiplies inflammation attack damage. 10 points per multiplier</td>
      <td>cells have 50% to be volatile. volatile cells are at risk for viral subjugation</td>
    </tr>
  </table>


