<h2>sign up
macromolecule</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="large-12 columns">
    <%= f.text_field :username, autofocus: true, placeholder: "username" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
    <%= f.email_field :email, placeholder: "email" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm" %>
  </div>

  <div class="actions">
    <%= f.button "sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
