<%= form_for @stage, {
      url: system_stage_path(@system, @stage), action: "update"
    } do |f| %>
      <div="clicks"><%= f.hidden_field :name, :value => "innate" %>
      <%= f.submit "back", class: "button" %></div="clicks">

      <div class="row">
  <div class="large-12">
  <h1> your immune system is currently <%= @system.status %> </h1>
  <%= link_to "differentiate", system_path %>
    <%= link_to "build memory", system_virus_path,
    :controller => :viri, :action => :edit %>
    <%= link_to "initiate apoptosis", systems_cell_path,
    :controller => :cells, :action => :destroy %>

    <h1>system status</h1>
        <table>
          <tr>
            <th>differentiation</th>
            <th>memory</th>
            <th>apoptosis</th>
            <th>pyrogenation</th>
            <th></th>
          </tr>

          <tr>
            <td><%= @system.differentiation? %></td>
            <td><%= "#{@system.memory}%" %></td>
            <td><%= @system.apoptosis? %></td>
            <td><%= @system.pyrogenation? %></td>
          </tr>
        </table>

    <h1>cell status</h1>
      <table>
        <tr>
          <th>cells</th>
          <th>antigens</th>
          <th>antibodies</th>
          <th></th>
        </tr>

        <tr>
          <td><%= @cells.count %></td>
          <% antigens = 0 %>
          <% antibodies = 0 %>
          <%= @cells.each do |cell| %>
            <% if cell.status == antigen %>
              <% antigens += 1 %>
            <% elsif cell.status == antibody %>
              <%= antibodies += 1 %>
            <% end %>
          <% end %>
          <td><%= "#{(antigens/@cells.count)*100}%" %></td>
          <td><%= "#{(antibodies/@cells.count)*100}%" %></td>
        </tr>
    </table>

    <h1>virus status</h1>
        <table>
          <tr>
            <th>viri</th>
            <th>lysogenic</th>
            <th>lytic</th>
            <th>latent</th>
            <th></th>
          </tr>

          <tr>
            <td><%= @viri.count %></td>
            <% latent = 0 %>
            <% lysogenic = 0 %>
            <% lytic = 0 %>
            <% @viri.each do |virus| %>
              <% if virus.status_name = "latent" %>
              <%  latent += 1 %>
              <% elsif virus.status_name = "lysogenic" %>
              <%  lysogenic += 1 %>
              <% elsif virus.status_name = "lytic" %>
              <%  lytic += 1 %>
              <% end %>
            <% end %>
            <td><%= "#{(lysogenic/@viri.count)*100}%" %></td>
            <td><%= "#{(lytic/@viri.count)*100}%" %></td>
            <td><%= "#{(latent/@viri.count)*100}%" %></td>
          </tr>
      </table>
      <%= link_to "attempt vaccination", system_virus_path %>
  </div>
</div>
  <% end %>
