<%= render "foundation" %>

  <body id="page" class="off-canvas paneled">
  <div class="container">

    <header id="header" class="row">
      <div class="four columns">
        <h1 id="site-title"><%= "#{@system.meta_points} points" %></h1>
      </div>
      <div class="eight columns">
        <nav id="menu" role="navigation" class="hide-for-small">
          <ul id="nav" class="nav-bar">
            <li><a href="#panel-1" class="main nav-item">cells</a></li>
            <li><a href="#panel-2" class="main nav-item">apoptosis</a></li>
            <li><a href="#panel-3" class="main nav-item">pyrogens</a></li>
            <li><a href="#panel-4" class="main nav-item">inflammation</a></li>
            <li><a href="#panel-5" class="main nav-item">end</a></li>
          </ul>
        </nav>

        <dl class="tabs five-up show-for-small" id="switchPanels">
          <dd class="active"><a href="#panel-1">1</a></dd>
          <dd><a href="#panel-2">2</a></dd>
          <dd><a href="#panel-3">3</a></dd>
          <dd><a href="#panel-4">4</a></dd>
          <dd><a href="#panel-5">5</a></dd>
        </dl>
      </div>
    </header>

    <script type="text/javascript">
       var cellArray = <%= @system.cell_count %>;
       var sysTurn = <%= @system.turn_count %>
     </script>

    <section role="main" id="main">
      <div class="row">
        <article id="panel-1" class="page-panel">
          <h1>generate b cells</h1>
          <p>produce a random cell for each meta point.</p>
          <%= form_for [@system, @cell] do %>
            <%= select_tag "new cells", options_for_select(0..@system.meta_points) %>
           <%= button_tag "create cells" %>
          <% end %>
          </div>
        </article><!-- /#panel-1 -->

        <%= render "apoptosis" %>
        <%= render "pyrogenation" %>


        <article id="panel-4" class="page-panel">
          <h1>inflammation</h1>
          <p>direct viral attack. removes viruses in accordance with non-volatile cell volume.</p>
        </article>

        <article id="panel-5" class="page-panel">
          <h1>end</h1>
          <p>end turn and go back to main page</p>
          <%= form_for [@system, @turn], { url: system_path(@system) } do |f| %>
          <%= f.hidden_field :player, value: "virus" %>
          <%= f.hidden_field :order, value: @turn.order + 1 %>
          <%= f.submit "end system turn", class:
          "button" %>
          <% end %>
          </article>

      </section>
    </div>

    <footer class="site-footer row" role="contentinfo">
      <div class="twelve columns">
      </div>
    </footer>
  </div>

</body>
