<% if @stage.name == "innate" %>
  <% if @stage.errors.present? %>
    <% @stage.errors.full_messages.each do |error| %>
      <ul>
        <li><%= error %></li>
      </ul>
    <% end %>
  <% end %>
<div class="row">
  <div class="large-12">
    <% if @system.meta_points == 30 %>
        <h2> innate stage initiated. viruses are attacking! </h2>
        <h1><%= "#{@system.meta_score}" %></h1>
  		  <%= form_for @stage, {
        url: system_stage_path(@system, @stage), action: "update"
      } do |f| %>
        <div class="cytokines"><%= f.label :cytokines, "cytokines" %><%= @stage.cytokines %>
        <%= f.select :cytokines, options_for_select(0..30) %></div>
        <div class="macromolecules"><%= f.label :macromolecules, "macromolecules" %><%= @stage.macromolecules %>
        <%= f.select :macromolecules, options_for_select(0..30) %></div>
        <div class="phagocytes"><%= f.label :phagocytes, "phagocytes" %><%= @stage.phagocytes %>
        <%= f.select :phagocytes, options_for_select(0..30) %></div>
        <%= f.submit "submit points" %>
      <% end %>
    <% else %>
      <h1><%= flash[:notice] = "meta points dispensed. continue to adaptive stage?" %></h1>
      <ul>
        <li>cytokines: <%= @stage.cytokines %></li>
        <li>macromolecules: <%= @stage.macromolecules %></li>
        <li>phagocytes: <%= @stage.phagocytes %></li><br>

      <%= form_for @stage, {
        url: system_stage_path(@system, @stage), action: "update"
      } do |f| %>
        <div="clicks"><%= f.hidden_field :name, :value => "adaptive" %>
        <%= f.submit "continue", class: "button" %></div="clicks">
      <% end %>
      <%= form_for @system, {
        url: system_path(@system), action: "update"
      } do |f| %>
        <div="clicks"><%= f.hidden_field :meta_points, :value => 30 %>
        <%= f.submit "reset", class: "button" %></div="clicks">
      <% end %>
    <% end %>
   </div>
  </div>
  <% else %>
    <%= form_for @stage, {
      url: system_stage_path(@system, @stage), action: "update"
    } do |f| %>
      <div="clicks"><%= f.hidden_field :name, :value => "innate" %>
      <%= f.submit "back", class: "button" %></div="clicks">
    <% end %>
      <div class="row">
  <div class="large-12">
  <h1> your immune system is currently <%= @system.status %> </h1>
  <%= link_to "differentiate", system_path %>
    <%= link_to "build memory", system_viri_path(@system),
    :controller => :viri, :action => :edit %>
    <%= link_to "initiate apoptosis", system_cells_path(@system),
    :controller => :cells, :action => :destroy %>

    <h1>system status</h1>
        <table>
          <tr>
            <th>differentiation</th>
            <th>memory</th>
            <th>apoptosis</th>
            <th>pyrogenation</th>
            <th></th>
          </tr>

          <tr>
            <td><%= @system.differentiation %></td>
            <td><%= @system.memory %></td>
            <td><%= @system.apoptosis %></td>
            <td><%= @system.pyrogenation %></td>
          </tr>
        </table>

    <h1>cell state</h1>
      <table>
        <tr>
          <th>cells</th>
          <th>antigens</th>
          <th>antibodies</th>
          <th></th>
        </tr>

        <tr>
          <td><%= @cells.count %></td>
          <% antigens = 0 %>
          <% antibodies = 0 %>
          <% @cells.each do |cell| %>
            <% if cell.status == "antigen" %>
              <% antigens += 1 %>
            <% elsif cell.status == "antibody" %>
              <% antibodies += 1 %>
            <% end %>
          <% end %>
          <td><%= "#{(antigens/@cells.count)*100}%" %></td>
          <td><%= "#{(antibodies/@cells.count)*100}%" %></td>
        </tr>
    </table>

    <h1>virus state</h1>
        <table>
          <tr>
            <th>viri</th>
            <th>lysogenic</th>
            <th>lytic</th>
            <th>latent</th>
            <th></th>
          </tr>

          <tr>
            <td><%= @viri.count %></td>
            <% latent = 0 %>
            <% lysogenic = 0 %>
            <% lytic = 0 %>
            <% @viri.each do |virus| %>
              <% if virus.status = "latent" %>
              <%  latent += 1 %>
              <% elsif virus.status = "lysogenic" %>
              <%  lysogenic += 1 %>
              <% elsif virus.status = "lytic" %>
              <%  lytic += 1 %>
              <% end %>
            <% end %>
            <td><%= "#{(lysogenic/@viri.count)*100}%" %></td>
            <td><%= "#{(lytic/@viri.count)*100}%" %></td>
            <td><%= "#{(latent/@viri.count)*100}%" %></td>
          </tr>
      </table>
      <%= link_to "attempt vaccination", system_viri_path(@system) %>
  </div>
</div>
<% end %>
