<% if @stage.name == "innate" %>
  <% if @stage.errors.present? %>
    <% @stage.errors.full_messages.each do |error| %>
      <ul>
        <li><%= error %></li>
      </ul>
    <% end %>
  <% end %>
<div class="row">
  <div class="large-12">
    <h2> innate stage initiated. viruses are attacking! </h2>
    <% if @system.meta_points > 0 %>
      <h1> you have <%= "#{@system.meta_points}" %> metabolism points to spend.</h1>
  		<%= form_for @stage, {
        url: system_stage_path(@system, @stage), action: "update"
      } do |f| %>
        <div class="cytokines"><%= f.label :cytokines, "cytokines" %><%= @stage.cytokines %>
        <%= f.select :cytokines, options_for_select(0..30) %></div>
        <div class="macromolecules"><%= f.label :macromolecules, "macromolecules" %><%= @stage.macromolecules %>
        <%= f.select :macromolecules, options_for_select(0..30) %></div>
        <div class="phagocytes"><%= f.label :phagocytes, "phagocytes" %><%= @stage.phagocytes %>
        <%= f.select :phagocytes, options_for_select(0..30) %></div>
        <%= f.submit "add points" %>
      <% end %>
    <% else %>
      <h1><%= flash[:notice] = "you do not have enough meta points." %></h1>
      <%= form_for @system do |f| %>
        <%= f.submit (:reset) %>
        <%= f.submit (:continue) %>
      <% end %>
    <% end %>
   </div>
  </div>
<% end %>
