<% if @system.turn.player == "virus" %>
    <% @viri.each do |virus| %>
      <% virus.cycle_choice %>
     <% virus.cycle_method %>
    <% end %>
  <% end %>
  <%= link_to "BACK TO THE SYSTEM", system_path(@system), method: "get" %>
  <% @system.turn.next_turn unless @system.turn.player == "system" %>

  <h1>viri cycle</h1>
  <table>
    <tr>
      <th>viri count</th>
      <th>lysogenic</th>
      <th>lytic</th>
      <th></th>
    </tr><tr>

  <td><%= @viri.count %></td>
  <% lysogenic = 0 %>
  <% lytic = 0 %>
  <% @viri.each do |virus| %>
    <% if virus.cycle = "lytic" %>
    <%  lytic += 1 %>
    <% elsif virus.cycle = "lysogenic" %>
    <%  lysogenic += 1 %>
    <% end %>
  <% end %>
  <td><%= "#{(lysogenic/@viri.count)*100}%" %></td>
  <td><%= "#{(lytic/@viri.count)*100}%" %></td>
</tr>
</table>

<div id="pie"><%= pie_chart @viri.group(:cycle).count %>
<%= pie_chart @viri.group(:status).count %></div>

