<!DOCTYPE html>
<html>
<head>
  <title>Immunity</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick"%>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">immunity</a></h1>
      </li>
    </ul>

    <div class="large-9 columns">
      <ul class="button-group right">
    <% if current_user %>
      <li class="link"><%= link_to 'sign out ', destroy_user_session_path, action: :delete %>&nbsp;</li>
    <% else %>
      <li class="link"><%= link_to 'sign up', new_user_registration_path %>&nbsp;
      </li>
      <li class="link"><%= link_to 'sign in', new_user_session_path %>&nbsp;
      </li>
    <% end %>
    <% if @system == nil %>
      <li class="link"><%= link_to "new game", new_system_path(@system), controller: :systems, method: :get %>
      &nbsp;</li>
    <% elsif @system.id == nil %>
      <% nil %>
    <% else %>
      <li class="link"><%= link_to "continue ", system_path(@system), method: :get %>&nbsp;</li>
      <li class="link"><%= link_to "restart", {
        controller: :systems, action: :destroy, id: @system.id },
        method: :delete, data: { confirm: 'you sure? you can not recover your system.'
      } %></li>
    <% end %>
      </ul>
    </div>
  </div>

    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%= yield :extra_footer %>

</body>
</html>

